<section class="container py-4">
    <div class="d-flex justify-content-start align-items-center gap-2 mb-5">
        <img src="icons/back.png" alt="back" class="back-icon">
        <h4 class="m-0">Photos {{activeSlideIndex}}/6</h4>
    </div>
    <swiper-container effect="cards" [centerSlides]="true" [grab-cursor]="true" [pagination]="true"
        [cardsEffect]="{rotate:false,perSlideOffset:6,slideShadows:false}" class="slider-wrapper">
        <swiper-slide><img src="gallery/person1.jpg" alt="slider-image" class="swiper-image"></swiper-slide>
        <swiper-slide><img src="gallery/person2.jpg" alt="slider-image" class="swiper-image"></swiper-slide>
        <swiper-slide><img src="gallery/person1.jpg" alt="slider-image" class="swiper-image"></swiper-slide>
        <swiper-slide><img src="gallery/person2.jpg" alt="slider-image" class="swiper-image"></swiper-slide>
        <swiper-slide><img src="gallery/person1.jpg" alt="slider-image" class="swiper-image"></swiper-slide>
        <swiper-slide><img src="gallery/person2.jpg" alt="slider-image" class="swiper-image"></swiper-slide>
    </swiper-container>
</section>