.back-icon {
    width: 24px;
    height: auto;
    object-fit: contain;
}

.slider-wrapper {
    width: 240px;
}

.swiper-image {
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    min-width: 240px;
    height: 240px;
    object-fit: cover;
}

.swiper-slide-shadow {
    background-color: unset !important;
}

.slider-wrapper {
    --swiper-pagination-top: 100%;
    --swiper-pagination-color: #dc0049;
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
}

.audio-route-button {
    background-color: #dc0049;
    border: 0;
    color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    position: fixed;
    bottom: 20px;
}