<section class="container">
    <div class="d-flex flex-column justify-content-between recording-wrapper-box py-4">
        <img src="icons/back.png" alt="back" class="back-icon mb-5">
        <div class="d-flex flex-column">
            <div class="recording-area">
                @if (!isRecordingCompleted) {
                <ngx-mic-recorder [showVisualization]="true" visualizationType="SineWave"
                    [visualizationOptions]="{width: 350, height: 200, strokeColor: '#212121', backgroundColor: 'white'}">
                    <ng-template ngx-mic-pause-and-resume let-isRecording let-toggle="toggle"
                        let-recordingTime="recordingTime" let-isPaused="isPaused" let-recordingState="recordingState">
                        <ng-template [ngIf]="isRecording">
                            <div class="ngx-mic-recorder__recording-time">
                                {{ recordingTime }}
                            </div>
                        </ng-template>
                    </ng-template>

                    <ng-template ngx-mic-start-and-stop let-isRecording let-toggle="toggle" let-start="start"
                        let-stop="start">
                        @if (!isRecording && !isRecordingCompleted) {
                        <div class="ngx-mic-recorder__start-stop" (click)="toggle()">
                            <div class="ngx-mic-recorder__state">
                                <div class="ngx-mic-recorder__state-start-stop"></div>
                            </div>
                        </div>
                        }
                    </ng-template>
                </ngx-mic-recorder>
                <p class="text-center recording-time">{{recordingTime | slice: 3 }}/0:30</p>
                }
                <div [ngClass]="isRecordingCompleted?'d-flex':'d-none'"
                    class="justify-content-between align-items-center">
                    <div class="waveform flex-grow-1" id="waveform"></div>
                    <img src="icons/close.png" (click)="discardRecording()" alt="close" class="close-icon">
                </div>
                @if (isRecordingCompleted) {
                <p class="text-center recording-time">00:{{recordingTime }}/00:{{audioDuration}}
                </p>
                }
                @if (isRecordingCompleted) {
                <div class="record-button-container">
                    <button [ngClass]="wavesurferRef.isPlaying()?'pause-button':'play-button'" class="record-button"
                        (click)="playPause()"></button>
                </div>
                }
            </div>
            <h6 class="start-recording-text text-center pt-4">{{isRecordingCompleted?wavesurferRef.isPlaying()?'Tap to
                pause':'Tap to play':isRecordingStarted?'':'Tap to start recording'}}</h6>
        </div>
        @if (isRecordingCompleted) {
        <button class="next-button align-self-center" (click)="discardRecording()">Submit</button>
        }
        @else {
        <button class="next-button align-self-center" [disabled]="!isRecordingCompleted">Next</button>
        }
    </div>
</section>